<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@project.name} - " if @project %><%= t('app-name') %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <%- end -%>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Agile Tracker">
  <meta name="application-name" content="Agile Tracker">
  <meta name="theme-color" content="#333333">

</head>
<body>

<div id="header">
  <ul id="primary-nav">
    <li class="root">
      <%= link_to t('app-name'), root_path %>
    </li>
    <% if current_user %>
      <li<%= ' class="secondary"'.html_safe if current_user.projects.present? %>>
        <%= link_to Project.model_name.human(:count => 2), root_path %>
        <%- if current_user.projects.present? -%>
          <ul>
            <%- current_user.projects.each do |project| -%>
              <li><%= link_to project, project %></li>
            <%- end -%>
          </ul>
        <%- end %>
      </li>
      <li><%= link_to current_user.name, edit_user_registration_path %></li>
      <li><%= link_to t('log out'), destroy_user_session_path,
                      :method => :delete %></li>
    <% else %>
      <li><%= link_to t('log in'), new_user_session_path %></li>
      <%- unless Fulcrum::Application.config.fulcrum.disable_registration %>
      <li><%= link_to t('sign up'), new_user_registration_path %></li>
      <% end -%>
    <% end %>
  </ul>
</div>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main">
  <%= show_messages %>

  <%= yield %>
</div>

</body>
</html>

